/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: 50px;
}

h1 {
    color: #333;
}

.logo {
    width: 200px;
    height: auto;
    margin: 20px 0;
}

p {
    font-size: 18px;
    color: #666;
}

a {
    text-decoration: none;
    color: rgb(69, 56, 56);
}

.button {
    display: inline-block;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}